.container {
    background-color: white;
    border-radius: 40px 40px 0 0;
    width: auto;
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

@media only screen and (min-width: 1440px) {
    .container {
        flex-direction: row;
        height: 550px;
        max-width: none;
        width: 1050px;
        border-radius: 40px;
        padding: 35px;
    }
}